body{
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
}

.card{
    position: relative;
    width: 200px;
    height: 300px;
    overflow:hidden;
    border-radius: 28px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}