body{
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
}

.card{
    position: relative;
    width: 200px;
    height: 300px;
    overflow:hidden;
    border-radius: 28px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}
.bg-img{
width: 100%;
height: 100%;
object-fit:cover;
display: block;
}

.blurred-layer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://tinypng.com/images/social/website.jpg);
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: 1;
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

        -webkit-mask-image: linear-gradient(
            to top,
            rgba(0,0,0,1),
            rgba(0,0,0,0)
        )
}
